<ul>
	<li><%= link_to 'Fizz Buzz 1', fizzbuzz_basic_path %></li>
	<li><%= link_to 'Fizz Buzz 2' , fizzbuzz_extend_path %></li>
	<li><%= link_to 'Directory Search' , directory_search_path %></li>
</ul>
